html, body {
    font-family: 'Roboto', serif;
}

#header {
    padding: 20px 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.08);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    background-color: white;
}

.header-menu {
    padding-top: 10px;
}

.header-menu span,
.header-menu-mobile span {
    color: #848484;
    cursor: pointer;
}

.header-menu span:hover {
    color: #00bfa5;
}

.header-menu span,
.header-menu-mobile span {
    padding-right: 20px;
}

.header-menu-mobile-inner {
    width: 600px;
}

.web-title {
    color: #757575;
    font-family: 'Roboto slab', serif;
    font-size: 24px;
    cursor: pointer;
}

.btn-header {
    background-color: #00bfa5;
    border-radius: 2px;
    border: transparent;
    font-size: 12px;
}

.btn-header:hover {
    background-color: #00bfa5;
    opacity: 0.7;
}

.section {
    padding: 60px 0;
}

.section-1 {
    background-color: #00bfa5;
    color: white;
    margin-top: 72px;
}

.section-1 .section-1-title {
    font-family: "Roboto slab";
    padding-top: 20px;
    font-size: 17px;
    font-weight: 400;
}

.section-1 h1 {
    font-family: "Roboto slab";
    font-size: 46px;
    padding-bottom: 30px;
}

.section-1 p {
    font-size: 18px;
    font-weight: 300;
}

.section-1 hr {
    width: 60px;
    float: left;
}

#footer {
    background-color: #444;
    padding: 20px 0;
    color: #a3a3a3;
    font-size: 12px;
}

#footer a {
    color: white;
}

.quran-text {
    font-family: "Roboto slab";
    font-size: 22px;
    font-weight: 300;
}

.quran-surah {
    font-size: 14px;
    font-family: "Roboto slab";
    color: #444;
}

.section-3 {
    display: table;
    width: 100%;
    background-color: #00b0ff;
}

.section-3 div {
    padding-left: 0;
    padding-right: 0;
}

.section-3 iframe {
    border: 0;
    width: 100%;
    height: 400px;
}

.wedding-map {
    background-color: white;
}

.wedding-info {
    padding: 30px !important;
    color: white;
}

.section-3 .title {
    font-family: "Roboto slab";
    padding-bottom: 20px;
}

.wedding-title {
    font-family: "Roboto slab";
    font-size: 18px;
    font-weight: 300;
}

.wedding-detail {
    font-size: 16px;
}

.bride,
.groom {
    color: #848484;
    font-size: 16px;
}

.bride-after,
.groom-after,
.stories-after {
    background-color: #00bfa5;
    content: '';
    height: 2px;
    left: 16px;
    position: absolute;
    width: 60px;
}

.groom-after {
    background-color: #00b0ff;
}

.stories-after {
    background-color: #ffbc00;
    left: auto;
    right: 15px;
    margin-top: 8px;
}

.bride-name,
.groom-name {
    font-family: "Roboto slab";
    font-weight: 300;
    padding-top: 20px;
}

.bride-name + p,
.groom-name + p {
    color: #848484;
    font-size: 12px;
}

.input-title {
    font-family: 'Roboto slab', serif;
}

.download-btn span {
    border: 1px dashed white;
    padding: 10px 20px;
    border-radius: 2px;
    font-family: "Roboto slab";
    font-size: 16px;
    cursor: pointer;
}

.stories-title {
    font-family: "Roboto slab";
}

@media (max-width: 991px) {
    .download-btn {
        margin: 30px 0 20px;
        text-align: left;
    }

    .download-btn span {
        font-size: 12px;
    }

    .download-btn img {
        width: 12px;
        margin-left: 30px;
    }

    #header {
        padding-bottom: 0;
    }

    .section {
        padding: 20px 0;
    }

    .section-1 {
        margin-top: 108px;
    }
    
    .section-1 h1 {
        font-size: 27px;
        padding-bottom: 20px;
    }

    .header-menu-mobile {
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: auto;
    }

    .web-title {
        font-size: 22px;
    }

    .section-2 {
        margin-top: 20px;
    }

    .quran-text {
        font-size: 16px;
    }

    .section-3 iframe {
        height: 400px;
    }

    .wedding-info {
        padding: 15px !important;
    }
}

@media (max-width: 767px) {
    .section-3 iframe {
        height: 300px;
    }

    .groom {
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    #header {
        padding: 20px;
    }
}