html, body {
    font-family: 'Roboto', serif;
    color: #666;
}

#header {
    padding: 20px 0;
    box-shadow: 0 7px 20px -5px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    background-color: white;
}

.header-menu {
    padding-top: 10px;
}

.header-menu span,
.header-menu-mobile span {
    color: #848484;
    cursor: pointer;
}

.header-menu span:hover {
    color: #00bfa5;
}

.header-menu span,
.header-menu-mobile span {
    padding-right: 20px;
}

.header-menu-mobile-inner {
    width: 370px;
}

.web-title {
    color: #757575;
    font-family: 'Roboto slab', serif;
    font-size: 24px;
    cursor: pointer;
}

.btn-header {
    background-color: #00bfa5;
    border-radius: 2px;
    border: transparent;
    font-size: 12px;
}

.btn-header:hover {
    background-color: #00bfa5;
    opacity: 0.7;
}

.section {
    padding: 100px 0;
}

.section-1 {
    margin-top: 72px;
}

.section-1 .section-1-title {
    font-family: "Roboto slab";
    padding-top: 20px;
    font-size: 17px;
    font-weight: 400;
}

.section-1 h1 {
    font-family: "Roboto slab";
    font-size: 54px;
    padding-bottom: 30px;
}

.section-1 p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 60px;
}

.section-1 hr {
    width: 60px;
    float: left;
}

#footer {
    background-color: rgba(28,164,252,0.05);
    padding: 20px 0;
    color: #a3a3a3;
    font-size: 12px;
}

#footer a {
    color: #666;
}

.quran-text {
    font-family: "Roboto slab";
    font-size: 18px;
    font-weight: 300;
}

.quran-surah {
    font-size: 14px;
    font-family: "Roboto slab";
    color: #444;
}

.section-3 iframe {
    border: 0;
    width: 100%;
    height: 240px;     border-radius: 2px;;
}

.section-3 .title {
    color: #666;
    margin-bottom: 30px;
    font-family: "Roboto slab";
    padding-bottom: 20px;
}

.section-3-container {
    margin-left: 0;
    margin-right: 0;
}

.wedding-map {
    background-color: white;
}

.wedding-info {
    margin-top: 50px;
}

.wedding-title {
    font-family: "Roboto slab";
    font-size: 18px;
    font-weight: 300;
}

.wedding-detail {
    font-size: 16px;
}

.bride,
.groom {
    color: #848484;
    font-size: 16px;
}

.bride-after,
.groom-after,
.stories-after {
    background-color: #00bfa5;
    content: '';
    height: 2px;
    left: 45px;
    position: absolute;
    width: 60px;
}

.see-profile {
    padding-top: 10px;
}

.see-profile a {
    color: #00bfa5;
    cursor: pointer;
    font-weight: bold;
}

.groom-after {
    background-color: #00b0ff;
}

.stories-after {
    background-color: #ffbc00;
    left: auto;
    margin-top: 8px;
}

.bride-name,
.groom-name {
    font-family: "Roboto slab";
    font-weight: 300;
    padding-top: 20px;
}

.bride-name + p,
.groom-name + p {
    color: #848484;
    font-size: 12px;
}

.input-title {
    font-family: 'Roboto slab', serif;
}

.download-btn span {
    background-color: #00bfa5;
    color: white;
    padding: 20px;
    border-radius: 2px;
    font-family: "Roboto slab";
    font-size: 16px;
    cursor: pointer;
}

.stories-title {
    font-family: "Roboto slab";
}

.colored-container {
    background-color: #f3faff;
    padding: 30px;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .download-btn {
        margin: 30px 0 20px;
        text-align: left;
    }

    .download-btn span {
        font-size: 12px;
    }

    .download-btn img {
        width: 12px;
        margin-left: 30px;
    }

    #header {
        padding-bottom: 0;
    }

    .section {
        padding: 30px 0;
    }

    .section-1 {
        margin-top: 108px;
    }
    
    .section-1 h1 {
        font-size: 24px;
        padding-bottom: 20px;
    }

    .header-menu-mobile {
        padding-top: 20px;
        padding-bottom: 20px;
        overflow: auto;
    }

    .web-title {
        font-size: 22px;
    }

    .section-2 {
        margin-top: 20px;
    }

    .quran-text {
        font-size: 13px;
    }

    .section-3 iframe {
        height: 240px;
        border-radius: 2px;;
    }

    .wedding-info {
        padding: 15px !important;
    }

    .section-1 p {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .section-3 iframe {
        height: 300px;
    }
    
    .section-3 .title {
        font-size: 22px;
    }

    .groom {
        margin-top: 30px;
    }

    .section-1 p {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    #header {
        padding: 20px;
    }

    .mobile-padding {
        margin-left: 0;
        margin-right: 0;
    }
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #00bfa5;
    border-color: transparent;
    font-family: "Roboto slab";
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    border-color: #00bfa5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #5BC3BE;
    border-color: transparent;
}

.attending-option {
    border: 1px dashed #00bfa5;
    padding: 10px;
    font-weight: bold;
    font-family: "Roboto slab";
    cursor: pointer;
}

.attending-option.active {
    border: transparent;
    color: white;
    background-color: #00bfa5;
}

.input-tips {
    font-size: 12px;
    color: #666;
    padding-bottom: 10px;
}

.image-section-1 {
    margin-top: 72px;
    box-shadow: 0 7px 20px -5px rgba(0,0,0,0.2);
}

.download-btn a {
    text-decoration: none;
}

#header a {
    text-decoration: none;
    color: #848484;
}

@media (max-width: 767px) {
    #btn-submit {
        margin-top: 20px;
    }

    #attending-messages {
        margin-top: 10px;
    }

    .image-section-1 {
        margin-top: 60px;
    }

    .form-control {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .input-tips {
        padding-top: 10px;
    }
}

.success-messages {
    font-family: "Roboto slab";
}

body, .smooth-container { scroll-behavior: smooth }